@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto Flex', sans-serif;
    background-color: rgba(128, 128, 128, 0.55);
}
a{
    text-decoration: none;
}
h1{
    text-decoration: underline;
}
.container{
    width: 90%;
    max-width: 1000px;
    height: 90vh;
    background-color: #FAF6E9;
    margin: auto;
}
.container header{
    background:linear-gradient(27deg,#212121 90%,white 10%);
    background:linear-gradient(27deg,white 10%,#212121 90%);
    color: white;
    padding: 50px;
    text-align: center;
    text-shadow: 1px 1px 12px black;
}
.container nav{
    border-bottom:2px solid black;
    border-top: 1px solid black;
    background:linear-gradient(27deg,#212121 90%,white 10%);
    background:linear-gradient(27deg,white 10%,#212121 90%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.container nav a{
    color: black;
    text-decoration: none;
    text-align: center;
    padding: 10px 20px ;
    flex-grow:1;
    font-size: 1rem;
}
.container nav a:hover{
    background-color: #212121;
    color:white;
    transition: 0.3s;
}
.container .Main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.container .Main aside{
    background-color: lightgray;
    color: #212121;
    padding:20px;
    flex: 30%;
}
.container .Main section{
    background-color:gray;
    padding: 20px;
    flex: 70%;
}
footer{
color: black;
background: linear-gradient(27deg,#254776 10%, #54b4cf 90%);
background: linear-gradient(27deg,#54b4cf 10%, #254776 90%);
padding: 20px;
text-align: center;
}

@media screen and (max-width:800px){
    .container nav {
        flex-direction: column;
        border-top: 10px solid black;
        border-bottom:5px solid black ;
    }
    .container .Main {
        flex-direction: column;
    }
}
